*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.mallanna-regular {
    font-family: "Mallanna", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header, #instructions{
    text-align: center;
}
header>h1{
    font-weight: 800;
    font-size: 3em;
    display: inline-block;
    margin: 5px auto 10px;
}
main{
    width: 100vw;
    height: 90vh;
    position: relative;
}
#playSpace{
    background-color:rgb(233, 206, 161);
    width: 550px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}
/* #playSpace div{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
} */
#hero{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("Crab.png");
    background-size: cover;
    image-rendering: pixelated;
    z-index: 1;
    
}
.creature{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
}

.rock{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("rock.png");
    background-size: cover;
    image-rendering: pixelated;
    z-index: 2;
}
.oneLong{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("wall.png");
    background-size: cover;
    image-rendering: pixelated;
    z-index: 2;
}
.twoLong{
    width: 100px;
    height: 50px;
    position: absolute;
    background-image: url("Lwall.png");
    background-size: cover;
    image-rendering: pixelated;
    z-index: 2;
}
.bird{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("bird.png");
    background-size: cover;
    image-rendering: pixelated;
    z-index: 3;
}
.snake{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    z-index: 3;
}
.bow{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("bow.png");
    background-size: cover;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
.shell{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("shell.png");
    background-size: cover;
    image-rendering: pixelated;
}

.deadText{
    position: relative;
    color: black;
    font-size: 72px;
    padding: 30px;
    z-index: 10000;
}

#instructions>p{
    font-size: 2em;
    color: blue;
}
